@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import "loaders.css";
@import "forms.css";
@import "components/MultiSelect.css";
@import "wysiwyg.css";
@import "post.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-top-height: 3rem;
}

::selection {
  @apply bg-acc-2;
  @apply bg-opacity-50;
}

a {
    @apply text-acc-2-dark;
}

iframe {
    margin: auto;
    @apply max-w-[100%]
}

body {
    @apply bg-bg-50;
    @apply border-t-[3px];
    @apply border-acc-2;
}

@layer utilities {
  .placeholder-italic::placeholder{
    @apply italic
  }
}

.main-page-size {
  @apply mx-auto max-w-[400px] xl:max-w-[1100px] lg:max-w-[900px] md:max-w-screen-md sm:max-w-screen-sm;
}

.gradient-1 {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.headers h1 {
    @apply text-lg font-bold
}

.headers h2, .headers h3, .headers h4, .headers h5, .headers h6 {
    @apply text-lg font-semibold
}

#remark42 .avatar-icon {
  display: none;
}

/*@layer utilities {*/
/*    @variants responsive {*/
/*        .cols-3 {*/
/*            column-count: 3;*/
/*        }*/
/*    }*/

